/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. /* Force form widgets to correctly inherit font and font size as all other elements do */
input,
button,
textarea,
select {
  font: inherit;
  font-size: 100%; /* Not sure about this one, try disabling if form font size seems to be acting weird */
}

/*
  6.1. Optional - remove default browser styles from supporting form elements using `appearance`
*/

/* input[type="checkbox"], */
/* input[type="radio"], */
/* input[type="range"], */
/* select */

/*
  6.2. Optional - same as above, but searches have some jank with their x button, 
    so I thought it best to have this one be enabled separately
*/

/* input[type="search"], */

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --bone-color: hsl(38, 32%, 85%);
  --bone-darker: hsl(38, 32%, 65%);
}

@font-face {
  font-family: "norse";
  src:
    url("fonts/norse-bold-webfont.woff2") format("woff2"),
    url("fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: url("andreas-brun-0DDf6PJvZIY-unsplash.jpg");
  background-size: auto 100vh;
  height: 100vh;
  width: auto;
  display: flex;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#title-container {
  background-color: hsl(0, 0%, 0%, 50%);
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  margin-top: 25vh;
}

#odin {
  height: 90%;
}

#title {
  display: inline-block;
  font: 4em "norse";
  color: var(--bone-color);
}

#content {
  background-color: hsl(210, 20%, 98%);
  flex: 0 0 63vw;
}

#shoutout {
  color: var(--bone-color);
  margin-bottom: 0.5rem;
  font-size: 0.5rem;
}

#shoutout a {
  color: var(--bone-darker);
}
