/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. /* Force form widgets to correctly inherit font and font size as all other elements do */
input,
button,
textarea,
select {
  font: inherit;
  font-size: 100%; /* Not sure about this one, try disabling if form font size seems to be acting weird */
}

/*
  6.1. Optional - remove default browser styles from supporting form elements using `appearance`
*/

/* input[type="checkbox"], */
/* input[type="radio"], */
/* input[type="range"], */
/* select { */
/*   appearance: none; */
/* } */

/*
  6.2. Optional - same as above, but searches have some jank with their x button, 
    so I thought it best to have this one be enabled separately
*/

/* input[type="search"] { */
/*     appearance: none; */
/* } */

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --bone-color: hsl(38, 32%, 85%);
  --bone-darker: hsl(38, 32%, 65%);
  --bone-lighter: hsl(38, 32%, 90%);

  --invalid-red: hsl(0, 54%, 50%);
  --focus-blue: hsl(224, 70%, 50%);

  --content-margin-h: 2rem;
  --label-size: calc(0.5rem + 0.5vw);
}

@font-face {
  font-family: "norse";
  src:
    url("fonts/norse-bold-webfont.woff2") format("woff2"),
    url("fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: url("andreas-brun-0DDf6PJvZIY-unsplash.jpg");
  background-size: auto 100vh;
  height: 100vh;
  width: auto;
  display: flex;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#title-container {
  background-color: hsl(0, 0%, 0%, 50%);
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  margin-top: 25vh;
}

#odin {
  height: 90%;
}

#title {
  display: inline-block;
  font: 4em "norse";
  color: var(--bone-color);
}

#shoutout {
  color: var(--bone-color);
  margin-bottom: 0.5rem;
  font-size: 0.5rem;
}

#shoutout a {
  color: var(--bone-darker);
}

#content {
  background-color: hsl(210, 20%, 98%);
  flex: 0 0 63vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content > * {
  padding: 0rem var(--content-margin-h);
}

#content h3 {
  font-size: calc(0.4rem + 0.8vw);
  margin-right: 10vw;
}

#info {
  margin: 1rem 0;
}

#call-to-action {
  margin-bottom: 2.5rem;
}

#signup {
  background-color: white;
  box-shadow: 0rem 0.7rem 0.3rem -0.5rem hsl(0, 0%, 85%);
  padding: 1rem var(--content-margin-h);
  display: flex;
  flex-direction: column;
  gap: calc(0.5rem + 1vw);
}

#glory {
  margin-bottom: 0.5rem;
}

.form-row {
  display: flex;
  gap: calc(2rem + 1vw);
  margin-top: 0.7rem;
}

.input-container {
  position: relative;
}

#required-notice {
  font-size: calc(0.7rem + 0.5vw);
}

label {
  position: absolute;
  bottom: 1.6rem;
  font-family: "norse", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.07rem;
  font-size: var(--label-size);
  color: hsl(219, 6%, 49%);
}

label span {
  font-size: 1.5rem;
  position: relative;
  top: 0.5rem;
}

input {
  border: 1px solid hsl(220, 14%, 80%);
  border-radius: 0.2rem;
}

input:user-invalid {
  border: 1px solid var(--invalid-red);
}

input:focus-visible {
  border: 0.1rem solid var(--focus-blue);
  box-shadow: 1px 1px 5px 0px hsl(0, 0%, 65%);
  outline-color: transparent;
}

button {
  margin-top: calc(0.75 * var(--content-margin-h));
  background-color: hsl(237, 61%, 59%);
  color: white;
  font-family: "norse";
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2.5rem;
}

button:hover {
  background-color: hsl(238, 42%, 45%);
}

button:active {
  box-shadow: inset 1px 1px 5px 0px hsl(0, 0%, 0%);
}

#submit-container p {
  margin-top: 1.5rem;
}

a {
  color: hsl(237, 61%, 59%);
  text-decoration: none;
  font-weight: bold;
}
